<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Заказ</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<body>
<a href="/orders" style="float:right;">
    <b>ЗАКАЗЫ &cudarrr;</b>
</a>
<a href="/cart/items" style="float:right;">
    <b>КОРЗИНА &cudarrr;</b>
</a>
<a href="/main/items" style="float:right;">
    <b>ГЛАВНАЯ &cudarrr;</b>
</a>
<h1 style="text-align:center" th:if="${newOrder}">Поздравляем! Успешная покупка! &#128578;</h1>
<table style="width:70%;margin-left:auto;margin-right:auto;">
    <tr>
        <td>
            <h2 th:text="'Заказ №' + ${order.id}"></h2>
        </td>
<!--        <div th:text="${order}"></div>-->
<!--        <div th:text="${items}"></div>-->
    </tr>
    <tr th:each="item : ${items}">
        <td>
            <table>
                <tr>
                    <td>
                        <a th:href="${'/items/'+item.getItem().getId()}">
                            <img width="300" height="300" th:src="${'http://localhost:8080/'+item.getItem().getImgPath()}">
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b th:text="${item.getItem().getTitle()}"></b>
                    </td>
                    <td>
                        <b th:text="${item.getCount()}+' шт.'"></b>
                    </td>
                    <td>
                        <b th:text="${item.getQuantity()*item.getCount()}+' руб.'"></b>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <h3 th:text="'Сумма: ' + ${totalSum} + ' руб.'"></h3>
        </td>
    </tr>
</table>
</body>

</html>